$color-initial: #fff;
$color-primary: #285287;
$color-secondary: #222;
$color-tertiary: #f4f5f6;
$color-quaternary: #c4c4c4;
$color-quinary: #e1e1e1;

$navChangeBreakpoint: 50rem;

@import './../../node_modules/milligram/src/milligram';

body {
  margin: 0;
}

.view {
  position: relative;
  min-height: 100vh;

  &__nav-button {
    position: fixed;
    bottom: 5px;
    left: 15px;
    &:hover {
      cursor: pointer;
    }
  }

  @media screen and (min-width: $navChangeBreakpoint) {
    display: flex;

    .sidebar {
      position: relative;
      flex: 1 0 30%;
      width: auto;
      height: auto;
      max-width: 245px;

      &__nav {
        width: 100%;
        height: 100%;
      }
    }

    main {
      flex: 1;

      & > div {
        max-width: 1200px;
        margin: 0 auto;
      }
    }

    &__nav-button {
      display: none;
    }
  }
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 180ms ease-out;
  will-change: transform;
  transform: translate3d(-100%, 0, 0);

  &__nav {
    position: absolute;
    width: 80%;
    height: 100%;
    background: #1d1d1d;
    color: #fff;
    padding: 15px 15px 57px;
    z-index: 5;

    div {
      padding: 0 12px 15px;
      font-size: 2rem;
    }

    ul {
      marign: 0;
      padding: 0;

      li {
        padding: 0;
        margin: 0;
        list-style: none;
        border-bottom: 1px solid #3f3f3f;

        a {
          display: block;
          padding: 8px 12px;
          color: #285287;

          &:hover {
            color: #fff;
            background: rgba(255,255,255,.2);
          }

          &.active {
            color: #eee;
            background: rgba(255,255,255,.1);
          }
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
  
    z-index: 4;
    opacity: 0;
  }

  &--open {
    transform: translate3d(0,0,0);

    .sidebar__background {
      opacity: 1;
    }
    .sidebar__nav {
      box-shadow: -2px 0px 20px 0px #000;
    }
  }

  @media screen and (min-width: $navChangeBreakpoint) {
    transform: translate3d(0, 0, 0);

    &__background {
      opacity: 0;
      pointer-events: none;
    }
  }
}

main {
  padding: 15px 15px 57px;;
}

.row--about .column-6 {
  padding: 5px;
}